In [1]:
import numpy as np
import pandas as pd

In [3]:
data_path = './data/Loan_Default.csv'
num_sample = 10

missing_value_flag = 'remove'
scaling_flag = 'min-max'

In [5]:
eda_df = pd.read_csv(data_path)
eda_df.head(num_sample)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
5,24895,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,EXP,864,EXP,35-44,not_inst,70.089286,North,direct,0,40.0
6,24896,2019,cf,Joint,pre,type1,p3,l1,nopc,nob/c,...,EXP,860,EXP,55-64,to_inst,79.109589,North,direct,0,44.0
7,24897,2019,NaN,Female,nopre,type1,p4,l1,nopc,nob/c,...,CIB,863,CIB,55-64,to_inst,86.525974,North,direct,0,42.0
8,24898,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,CIB,580,EXP,55-64,to_inst,78.765690,central,direct,0,44.0
9,24899,2019,cf,Sex Not Available,nopre,type3,p3,l1,nopc,nob/c,...,CIB,788,EXP,55-64,to_inst,63.444767,south,direct,0,30.0

In [6]:
print(f'# of data: {eda_df.shape[0]}\n # of features: {eda_df.shape[1]}')

numerical_cnt = 0
categorical_cnt = 0

for feature_name, feature_type in zip(eda_df.columns, eda_df.dtypes):
    if np.issubdtype(feature_type, np.number):
        numerical_cnt += 1
    else:
        categorical_cnt += 1

    print(f'{feature_name}: {feature_type}')

print(f'# of Numerical Items: {numerical_cnt}\n # of Categorical Items: {categorical_cnt}')

# of data: 148670
 # of features: 34
ID: int64
year: int64
loan_limit: object
Gender: object
approv_in_adv: object
loan_type: object
loan_purpose: object
Credit_Worthiness: object
open_credit: object
business_or_commercial: object
loan_amount: int64
rate_of_interest: float64
Interest_rate_spread: float64
Upfront_charges: float64
term: float64
Neg_ammortization: object
interest_only: object
lump_sum_payment: object
property_value: float64
construction_type: object
occupancy_type: object
Secured_by: object
total_units: object
income: float64
credit_type: object
Credit_Score: int64
co-applicant_credit_type: object
age: object
submission_of_application: object
LTV: float64
Region: object
Security_Type: object
Status: int64
dtir1: float64
# of Numerical Items: 13
 # of Categorical Items: 21

In [7]:
eda_df.describe()

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148670.000000,148670.0,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,1.335720e+05,139520.000000,148670.000000,133572.000000,148670.000000,124549.000000
mean,99224.500000,2019.0,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,4.978935e+05,6957.338876,699.789103,72.746457,0.246445,37.732932
std,42917.476598,0.0,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,3.599353e+05,6496.586382,115.875857,39.967603,0.430942,10.545435
min,24890.000000,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,62057.250000,2019.0,1.965000e+05,3.625000,0.076000,581.490000,360.000000,2.680000e+05,3720.000000,599.000000,60.474860,0.000000,31.000000
50%,99224.500000,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,136391.750000,2019.0,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,6.280000e+05,8520.000000,800.000000,86.184211,0.000000,45.000000
max,173559.000000,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

In [12]:
labeled_df = eda_df['Status']
label_dict = labeled_df.value_counts()

print(f'labeled shape: {labeled_df.shape}')
print(f'positive: {label_dict[0]/labeled_df.shape[0] * 100:.2f}%')
print(f'negative: {label_dict[1]/labeled_df.shape[0] * 100:.2f}%')

labeled shape: (148670,)
positive: 75.36%
negative: 24.64%

In [15]:
duplicates = eda_df.duplicated()

for feature_name in eda_df.columns:
    if eda_df[feature_name].isnull().sum() > 0:
        eda_df[feature_name].fillna(eda_df[feature_name].mode().iloc[0], inplace=True)

outlier_dict = {}

for feature_name in eda_df.columns:
    if np.issubdtype(eda_df[feature_name].dtype, np.number):
        Q1 = eda_df[feature_name].quantile(0.25)
        Q3 = eda_df[feature_name].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        num_outlier = ((eda_df[feature_name] < lower_bound) | (eda_df[feature_name] > upper_bound)).sum()
        outlier_dict[feature_name] = num_outlier

        eda_df = eda_df[(eda_df[feature_name] >= lower_bound) & (eda_df[feature_name] <= upper_bound)]

print(f'# of outliers: {sum(outlier_dict.values())}')
for feature_name, num_outlier in outlier_dict.items():
    print(f'{feature_name}: {num_outlier}')

# of outliers: 17481
ID: 0
year: 0
loan_amount: 44
rate_of_interest: 7843
Interest_rate_spread: 1882
Upfront_charges: 1015
term: 0
property_value: 1495
income: 786
Credit_Score: 0
LTV: 953
Status: 0
dtir1: 3463